@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

.start {
    margin: auto;
    position: relative;
}

.card {
    width: 320px;
    height: 450px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 15px 10px 10px 10px #111;
}

.start .card:before {
    content: 'NIKE';
    font-size: 200px;
    opacity: 0.05;
    font-style: italic;
}

.start .card:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 20px;
    width: 1px;
    height: 1px;
    border-radius: 50px;
    background-color: #fff;
    transition: 1s;
}

.start .card:hover:after {
    box-shadow: 140px 150px 200px 100px rgb(0, 162, 255);
}



.card img {
    width: 250px;
    height: 180px;
    position: absolute;
    top: 0%;
    left: 11%;
    transform: rotate(30deg);
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        top: 0%;
    }
    to {
        top: 5%;
    }
}

.container h1 {
    font-size: 25px;
}

.container .size {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
}

.container .size span {
    font-size: 12px;
    padding: 8px;
    margin-left: 10px;
    background-color: aliceblue;
    border-radius: 5px;
}

.container .size:hover span {
    background-color: rgb(163, 175, 185);
}

.container .color {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container .color span {
    margin-left: 10px;
    padding: 8px;
    border-radius: 50px;
    background-color: red;
}

.container .color span:nth-child(2) {
    background-color: rgb(0, 162, 255);
}

.container .color span:nth-child(3) {
    background-color: green;
}

.container .color span:nth-child(4) {
    background-color: red;
}

.container a {
    text-decoration: none;
    padding: 7px;
    color: #fff;
    font-weight: 500;
    background-color: rgb(0, 162, 255);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

.container a:hover {
    background-color: #fff;
    color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (max-width: 600px) {
    .card {
        overflow: hidden;
        width: 200px;
        height: 300px;
    }
    .card img {
        width: 150px;
        height: 100px;
    }

    .start .card:before {
    font-size: 120px;;
    }

    .container .size {
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .container .size span {
        font-size: 10px;
        padding: 5px;
        margin-left: 10px;
        background-color: aliceblue;
        border-radius: 5px;
    }
    .container .color {
        margin-bottom: 10px;
    }
    .container .color span {
        padding: 6px;
        font-size: 10px;
    }
    .container h1 {
        margin-top: -5px;
        font-size: 20px;
    }
    .container a {
        padding: 5px;
    }
}